* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Big Shoulders Display";
    src: url("/a/fonts/BigShouldersDisplay-Bold-subset-AZ-09-punct.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Italianno";
    src: url("../font/Italianno-Regular-subset-apos.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Bebas";
    src: url("../font/Babes.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Bebas Neue";
    src: url("/a/fonts/BebasNeue-Subset.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}

.bg {
    background-image: url(../images/bg.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.event__box {
    background-color: #1B1B1B;
    border-radius: 20px;
    border: 1px solid #565656;
    padding: 65px 0 43px 20px;
    max-width: 450px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 15px;
    position: relative;
}

.event__space {
    background-color: #000;
    border-radius: 0 0 15px 15px;
    border: 1px solid #565656;
    border-top: none;
    max-width: 206px;
    width: 100%;
    height: 19px;
    position: absolute;
    top: -1px;
    border-top: none;
    left: 50%;
    transform: translateX(-50%);
}

.event__list__title {
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 700;
    font-size: clamp(25.5px, 9vw, 42px);
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 35px;
}

.event__list {
    display: grid;
    grid-template: 1fr;
    gap: 35px;
    list-style: none;
}

.event__list__item {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #fff;
}

.event__list__item__number {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: #24C28E;
    margin-bottom: 15px;
}

.event__list__item__title {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: clamp(16px, 5vw, 22px);
    line-height: 130%;
}

.secondTitle {
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 700;
    font-size: clamp(25px, 8.5vw, 36px);
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 15px;
}

.secondTitle span {
    background-color: #1BB07E;
    border-radius: 10px;
    padding: 5px 12px;
}

@media (max-width:340px) {
    .event__box {
        padding: 65px 0 35px 15px;
    }
}

body {
    font-family: sans-serif
}

.homeModal,
.homeModalOverlay {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    left: 0;
}

.homeModal {
    z-index: 30;
    justify-content: center;
    align-items: center;
    display: flex;
}

.homeModalOverlay {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}

.homeFormContainer {
    position: relative;
    z-index: 30;
    background-color: #fff;
    color: #000;
    border-radius: 8px;
    padding: 20px 40px 40px;
    width: 100%;
    max-width: 520px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 0 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.homeFormTop {
    display: flex;
    justify-content: space-between;
}

.homeFormTopTitle {
    font-family: Inter, sans-serif;
    font-size: clamp(21px, 6.6vw, 24px);
    margin: 0 0 20px;
    color: #000;
    font-weight: 600;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.closeButton {
    background: 0 0;
    border: none;
    cursor: pointer;
    padding: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #000;
}

.homeFormErrorText {
    color: #e53e3e;
    margin-bottom: 12px;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
}

.HomeFormRowInput,
.HomeFormRowLabel {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-size: 18px;
}

.HomeFormRow {
    margin-bottom: 20px;
}

.HomeFormRowLabel {
    display: block;
    margin-bottom: 6px;
    color: #000;
}

.HomeFormRowInput {
    width: 100%;
    padding: 10px 16px;
    border: 1px solid #c9c9c9;
    min-height: 48px;
    background-color: #f3f7f8;
    border-radius: 6px;
    font-weight: 400;
    outline: 0;
    height: 50px;
    transition: border-color 0.2s;
}

.HomeFormRowInput:focus {
    border-color: #e71f1f;
}

.HomeFormRowInput::placeholder {
    color: #aaa;
}

.HomeFormBtn {
    font-family: sans-serif;
    height: 60px;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    background-color: #e71f1f;
    transition: 0.3s;
    font-weight: 700;
    font-size: 28px;
    color: white;
    text-transform: uppercase;
    border: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone-input-container {
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid #c9c9c9;
    background-color: transparent;
    border-radius: 6px;
}

.phone-input-container:focus {
    border-color: #e71f1f;
}

.selected-code {
    display: flex;
    margin-left: 10px;
}

.country-selector {
    position: relative;
    margin-right: 10px;
}

.selected-country {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-right: 0;
    border-radius: 6px;
    cursor: pointer;
    min-height: 50px;
    font-family: sans-serif !important;
    font-size: 18px;
    font-weight: 400 !important;
    min-width: max-content;
    border: none;
    background-color: transparent;
}

.country-dropdown {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #c9c9c9;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 40;
    max-height: 200px;
    overflow-y: auto;
    font-family: sans-serif !important;
    font-weight: 400 !important;
}

.country-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 400 !important;
}

.country-option:hover {
    background-color: #f3f7f8;
}

.country-option.selected {
    background-color: #e6f0fa;
}

@media screen and (max-width: 768px) {
    .homeFormContainer {
        max-width: 100%;
        padding: 80px 20px 20px;
        margin: 0;
        border-radius: 6px;
        height: 100vh;
    }

    .homeFormTopTitle {
        text-align: center;
        max-width: 408px;
        margin-left: auto;
        margin-right: auto;
        font-weight: 700;
        margin-bottom: 15px;
    }

    .homeFormTop {
        flex-direction: column;
        align-items: flex-start;
    }

    .closeButton {
        width: 100%;
        height: 50px;
        background-color: #000;
        color: #fff;
        padding-right: 20px;
        top: 0;
        left: 0;
        justify-content: end;
    }

    .homeFormErrorText {
        font-size: 12px;
        margin-bottom: 8px;
    }

    .HomeFormRowLabel {
        margin-bottom: 6px;
    }

    .HomeFormRowInput {
        padding: 0 12px;
        min-height: 40px;
        background-color: transparent;
    }

    .HomeFormRowInput::placeholder {
        color: #a3a3a3;
    }

    .HomeFormBtn {
        font-size: 18px;
        font-weight: 700;
        margin-top: 24px;
    }
}

@media screen and (max-width: 480px) {
    .homeFormContainer {
        max-width: 100%;
        padding: 80px 20px 20px;
        margin: 0;
        border-radius: 6px;
        height: 100vh;
    }

    .homeFormTopTitle {
        text-align: center;
        margin: 0 auto 15px;
    }

    .homeFormErrorText {
        font-size: 12px;
        margin-bottom: 8px;
    }

    .HomeFormRowLabel {
        margin-bottom: 6px;
    }

    .HomeFormRowInput {
        padding: 0 12px;
        min-height: 40px;
        background-color: transparent;
        border-radius: 10px;
    }

    .HomeFormRowInput::placeholder {
        color: #a3a3a3;
    }

    .HomeFormBtn {
        font-size: 16px;
        padding: 10px 0;
        margin-top: 24px;
        height: 50px;
    }
}